body{
    font-size:40px;
}

p{
    font-size: 35px;
}

h1{
    font-size: 30px;
    text-indent: 1rem;
}

h2{
    font-size: 25px;
    text-indent: 2rem;
}

h3{
    font-size: 20px;
    text-indent: 3rem;
}

a{
    font-size: medium;
}

table{
    font-size: 30px;
}

.paragraph{
    text-indent: 16px;
}